{%extends "base.html" %}
{%block content%}
{% for project in projects %}
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
            <h1 class="w3-padding-32">{{ project.name }}</h5>
            <hr>
        </div>
        <hr>
        <div class="w3-twothird">
            <h1 class="w3-padding-32">Description</h1>
            <p class="w3-text-grey">{{ project.desc }}</p>
        </div>
        <div class="w3-twothird">
            <h1 class="w3-padding-32">Estimated Completion</h1>
            <p class="w3-text-grey">{{ project.est_comp }}</p>
        </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}