{%extends "base.html" %}
{%block content%}
  
<style>
    * {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #ec1b2c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #ec1b2c;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

table, th, td {
  border: 1px solid rgb(118, 50, 124);
}

th, td {
  padding: 10px;
}
</style>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <h1>Delete a Recipe</h1>
        <div class="container">
            <form action="/api/recipes/delete/recipe" method="post">
                <table>
                        <th>
                            <tr>
                                <td>Recipe Name</td>
                                <td>Serving Size</td>
                                <td>Notes</td>
                            </tr>
                        </th>
                        {% for recipe in recipes %}
                        <tr>
                            <td>
                                <input type="radio" id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}">
                                <label for="{{ recipe.recipe_name }}">{{ recipe.id }}: {{ recipe.recipe_name }}</label>
                            </td>
                            <td>{{ recipe.servings }}</td>
                            <td>{{ recipe.notes }}</td>
                        </tr>
                        {% endfor %}
                </table>
                <div class="row">
                    <input type="submit" value="Delete">
                  </div>
            </form>
          </div>
    </div>
  </div>
  
{% endblock %}