{%extends "base.html" %}
{%block content%}
  
<style>
    * {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <h1>Update a Recipe</h1>
        <div class="container">
            <form action="/api/recipes/update/recipe" method="post">
            <div class="row">
              <div class="col-25">
                <label for="recipe_name">Recipe Name</label>
              </div>
              <div class="col-75">
                <input type="text" id="recipe_name" name="recipe_name" placeholder="{{ recipe.recipe_name }}">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="servings">Servings</label>
              </div>
              <div class="col-75">
                <input type="number" id="servings" name="servings" placeholder="4">
              </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <label for="recipe_name">Preparation Time</label>
                </div>
                <div class="col-75">
                  <input type="text" id="prep_time" name="prep_time" placeholder="{{ recipe.prep_time }}">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <label for="recipe_name">Cook Time (Total Time)</label>
                </div>
                <div class="col-75">
                  <input type="text" id="cook_time" name="cook_time" placeholder="{{ recipe.cook_time }}">
                </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="subject">Ingredients</label>
              </div>
              <div class="col-75 container-ingredient">
                <button type="button" class="add_form_field_ingredient">Add additional Ingredient &nbsp; 
                  <span style="font-size:16px; font-weight:bold;"></span>
                </button>
                <div><input type="text" id="ingredient_1" name="ingredient_1" placeholder="{{ recipe.ingredients }}"></div>
              </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <label for="subject">Directions</label>
                </div>
                <div class="col-75 container-directions">
                  <button class="add_form_field_step">Add additional Step &nbsp; 
                    <span style="font-size:16px; font-weight:bold;"></span>
                  </button>
                  <div><textarea id="directions" name="directions_1" placeholder="{{ recipe.directions }}" style="height:200px"></textarea></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <label for="subject">Notes</label>
                </div>
                <div class="col-75">
                  <textarea id="notes" name="notes" placeholder="{{ recipe.notes }}" style="height:200px"></textarea>
                </div>
            </div>
            <input type="hidden" name="old_recipe_name" id="old_recipe_name" value="{{ recipe.recipe_name }}">
            <br>
            <div class="row">
              <input type="submit" value="Submit">
            </div>
            </form>
          </div>
    </div>
  </div>
  <script src="/static/add_form.js"></script>

{% endblock %}